/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    color: #535353;
    background-color: #fefefe;
}

.clear {
    clear: both;
}

/* HEADER  */
.headershow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 65px;
    z-index: 1000;
}

.active {
    background-color: white;
    z-index: 100;
}

header .header__menuWhite {
    padding: 0 40px 40px;
}

/* header white  */
header .header__menuWhite,
header .header__menuWhite .header__menuWleft,
header .header__menuWhite .header__menuWleft .header__menuWnavBar,
header .header__menuWhite .header__menuWright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header__menuWhite .header__menuWleft img {
    width: 74px;
}

.header__menuWhite .header__menuWleft .header__menuWnavBar,
.header__menuWhite .header__menuWright .header__music,
.header__menuWhite .header__menuWright .header__language .header__languagedefault,
.header__menuWhite .header__menuWright .header__language .header__languagechose p,
.header__menuWhite .header__menuWright .header__search {
    cursor: pointer;
}

.header__menuWhite .header__menuWleft .header__menuWnavBar .header__navicon {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 1rem;
    height: 1rem;
}

.header__menuWleft .header__menuWnavBar .header__navicon span {
    width: 1rem;
    height: 2px;
    background-color: black;
    transition: all 0.5s;
    transition-delay: 0.5s;
}

.header__menuWleft .header__menuWnavBar p {
    transition: all 0.5s;
    transition-delay: 0.5s;
}

.header__menuWnavBar:hover .header__navicon span:nth-child(2) {
    width: 2rem;
}

.header__menuWleft .header__menuWnavBar:hover p {
    color: orangered;
}

.header__menuWhite .header__menuWright .header__music {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 3px;
    width: 1.5rem;
    height: 1rem;
}

.header__menuWright .header__music span {
    width: 2px;
    height: 1rem;
    background-color: black;
}

.header__menuWright .header__music span:first-child {
    animation: music 0.25s ease-out 0s infinite alternate;
}

.header__menuWright .header__music span:nth-child(2) {
    animation: music 0.5s ease-out 0.4s infinite alternate;
}

.header__menuWright .header__music span:nth-child(3) {
    animation: music 0.25s ease-out 0.2s infinite alternate;
}

.header__menuWright .header__music span:nth-child(4) {
    animation: music 0.5s ease-out 0.3s infinite alternate;
}

.header__menuWright .header__music span:nth-child(5) {
    animation: music 0.25s ease-out 0.1s infinite alternate;
}

@keyframes music {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

.header__menuWright .header__language {
    position: relative;
}

.header__menuWright .header__language .header__languagedefault {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__menuWright .header__language .header__languagechose {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 20px;
    left: -40px;
    background-color: aqua;
    padding: 30px 20px;
    transition: all 1s;

}

.header__menuWright .header__language:hover .header__languagechose {
    opacity: 1;
    visibility: visible;
}

.header__language .header__languagechose p,
.header__language .header__languagedefault {
    transition: all 0.5s;
}

.header__language .header__languagechose p:hover,
.header__language .header__languagedefault:hover {
    color: orangered;
}

/* header black  */
.header__menuBack {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    color: white;
    padding: 65px 40px 0 40px;
}

.header__menuBack .header__menuBlogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.header__menuBack .header__menuBlogo img {
    width: 74px;
}

.header__menuBack .header__menuBlogo .header__navicon {
    display: flex;
    flex-direction: column;
    width: 1rem;
    height: 1rem;
    gap: 8px;
}

.header__menuBack .header__menuBlogo .header__menuBnavavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header__menuBlogo .header__menuBnavavBar .header__navicon span {
    width: 1.41rem;
    height: 2px;
    background-color: white;
}

.header__menuBlogo .header__menuBnavavBar .header__navicon span:first-child {
    transform: translate(-2px, 16px) rotate(-45deg);
    transform-origin: 0 0;
}

.header__menuBlogo .header__menuBnavavBar .header__navicon span:nth-child(2) {
    transform: translate(0, -10px) rotate(45deg);
    transform-origin: 0 0;
}

.header__menuBack .header__menuBlist,
.header__menuBack .header__menuBbottom {
    padding-left: 100px;
}

.header__menuBack .header__menuBbottom {
    padding: 0 0 20px 100px;
}

.header__menuBack .header__menuBlist .header__ul {
    list-style: none;
}

.header__menuBack .header__menuBlist .header__ul li {
    margin-bottom: 1.375rem;
}

.header__menuBack .header__menuBlist .header__ul a {
    text-decoration: none;
    color: white;
    font-size: 1.625rem;
}

.header__menuBack .header__menuBlist .header__ul::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-delay: 1s;
}

.header__menuBack .header__menuBbottom,
.header__menuBack .header__menuBbottom .header__bottomLeft,
.header__menuBack .header__menuBbottom .header__bottomRight {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header__menuBlogo .header__menuBnavavBar:hover,
.header__menuBlogo .header__menuBnavavBar .header__navicon:hover,
.header__menuBlogo .header__menuBnavavBar p:hover,
.header__menuBlist .header__ul a,
.header__menuBbottom .header__bottomLeft p,
.header__menuBbottom .header__bottomRight i {
    transition: all 0.5s;
    cursor: pointer;
}

.header__menuBlogo .header__menuBnavavBar p:hover,
.header__menuBlist .header__ul a:hover,
.header__menuBbottom .header__bottomLeft p:hover,
.header__menuBbottom .header__bottomRight i:hover {
    color: orangered;
}

/* set show and hide menu  */

.header__menuWhite {
    position: relative;
    transition: all 2s;
}

.header__menuBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 2s;
}

.show {
    opacity: 1;
    visibility: visible;
}

.hide {
    opacity: 0;
    visibility: hidden;
}

.openmenubar {
    animation: run 1s linear 0.1s forwards;
}

@keyframes run {
    0% {
        height: 0px;
    }

    100% {
        height: 518px;
    }
}

.closemenubar {
    animation: close 2s linear 0.01s forwards;
}

@keyframes close {
    0% {
        height: 518px;
    }

    100% {
        height: 0px;
    }
}

/* BANNER */
.banner {
    background-image: url(../images/circle.png);
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 800px;
}

/* .banner__container{
    display: flex;
    width: 100%;
    margin: auto;
} */
.banner__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 40px 0;
    width: 100%;
}

.banner__content .banner__text {
    width: 30%;
}

.banner__content .banner__text h1,
.banner__text h2 {
    font-size: 5rem;
}

.banner__content .banner__text p {
    font-size: 1.2rem;
    margin: 3rem 0 2.5rem;
    line-height: 2rem;
    /* text-align: justify; */
}

.banner__content .banner__text .banner__a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px
}

.banner__content .banner__text .banner__a::before {
    content: "";
    display: block;
    width: 3rem;
    height: 1px;
    background-color: #535353;

}

.banner__content .banner__text a {
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 600;
    color: black;
}

.banner__content .banner__text h1,
.banner__content .banner__text h2,
.banner__content .banner__text p,
.banner__content .banner__text .banner__a {
    animation: upto 2s cubic-bezier(0.12, 0.01, 0, 1.01) 0s alternate;
    position: relative;
}

@keyframes upto {
    0% {
        top: 150px;
        opacity: 0;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}

.banner__content .banner__text h2 {
    animation-delay: 0.1s;
}

.banner__content .banner__text p {
    animation-delay: 0.2s;
}

.banner__content .banner__text .banner__a {
    animation-delay: 0.2s;
}

.banner__content .banner__img {
    width: 60%;
    position: relative;
}

.banner__content .banner__img img:last-of-type {
    width: 334px;
    height: 487px;
    position: absolute;
    animation: uptopright 2s cubic-bezier(0.12, 0.01, 0, 1.01) 0s both;
}

@keyframes uptopright {
    0% {
        top: 1000px;
        left: 1000px;
        opacity: 0;
    }

    100% {
        top: 200px;
        left: 400px;
        opacity: 1;
    }
}

.banner__content .banner__img img:first-of-type {
    width: 358px;
    height: 546px;
    animation: uptopleft 2s cubic-bezier(0.12, 0.01, 0, 1.01) 0s both;
    position: relative;
}

@keyframes uptopleft {
    0% {
        top: -500px;
        left: -500px;
        opacity: 0;
    }

    100% {
        top: 50px;
        left: 50px;
        opacity: 1;
    }
}


/* REVOLUTION */
.revolution {
    margin: 0 40px;
    border-bottom: 1px solid #ededed;
    padding-bottom: 125px;
}

.revolution .revolution__intro img {
    width: 95px;
}

.revolution .revolution__intro h4 {
    margin: 5rem 0 3.5rem;
    font-size: 0.75rem;
    letter-spacing: 1px;
}

.revolution .revolution__intro p {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.3;
    max-width: 650px;
    margin-bottom: 85px;
}

.revolution .revolution__intro span {
    color: orangered;
}

.revolution .revolution__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 85px;
}

.revolution .revolution__content .revolution__img img {
    width: 100%;
    height: 100%;
    display: block;

}

.revolution__content .revolution__img {
    transition: all 0.5s;
    position: relative;
}

.revolution__img .revolution__imgBg1,
.revolution__img .revolution__imgBg2,
.revolution__img .revolution__imgBg3,
.revolution__img .revolution__imgBg4,
.revolution__img .revolution__imgBg5,
.revolution__img .revolution__imgBg6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* transition: all 0.5s; */
}

.revolution__img .revolution__imgtext {
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: white;
}

.revolution__imgtext p:last-of-type {
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.revolution__content .revolution__img:hover {
    transform: scale(105%);
}

.revolution__content .revolution__img:hover .revolution__imgBg1 {
    background-image: linear-gradient(to top right, #24c1c8, #0737e6);
    opacity: 0.7;
}

.revolution__content .revolution__img:hover .revolution__imgBg2 {
    background-image: linear-gradient(to top right, #70595b, #a84444);
    opacity: 0.7;
}

.revolution__content .revolution__img:hover .revolution__imgBg3 {
    background-image: linear-gradient(to top right, #ad9d93, #f7bfa9);
    opacity: 0.7;
}

.revolution__content .revolution__img:hover .revolution__imgBg4 {
    background-image: linear-gradient(to top right, #37779e, #893891);
    opacity: 0.7;
}

.revolution__content .revolution__img:hover .revolution__imgBg5 {
    background-image: linear-gradient(to top right, #203653, #79bede);
    opacity: 0.7;
}

.revolution__content .revolution__img:hover .revolution__imgBg6 {
    background-image: linear-gradient(to top right, #5d4e9d, #1f24aa);
    opacity: 0.7;
}

.revolution__loadmore {
    text-align: center;
}

.revolution__loadmore button {
    background-color: white;
    border: none;
    font-size: 1rem;
    color: black;
    cursor: pointer;
    transition: all 0.5s;
}

.revolution__loadmore button:hover {
    color: orangered;
}

/* SERVICES */
.services {
    margin: 40px 0;
}

.services__intro {
    margin: 0 40px;
}

.services .services__intro h4 {
    margin: 5rem 0 3.5rem;
    font-size: 0.75rem;
    letter-spacing: 1px;
    overflow: hidden;
}

.services .services__intro p {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.3;
    max-width: 650px;
    margin-bottom: 85px;
}

.services .services__intro span {
    color: orangered;
}

.services__item {
    display: inline-block;
    position: relative;
    width: 350px;
    height: 400px;
    overflow: hidden;
}

.services__item .servieces__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services__item .services__opacity1,
.services__opacity2,
.services__opacity3,
.services__opacity4,
.services__opacity5,
.services__opacity6,
.services__opacity7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.services__item:hover .services__opacity1 {
    background-image: linear-gradient(to top right, #eabdc3, #dd6484);
    opacity: 0.8;
}

.services__item:hover .services__opacity2 {
    background-image: linear-gradient(to top right, #6015bb, #286ee9);
    opacity: 0.8;
}

.services__item:hover .services__opacity3 {
    background-image: linear-gradient(to top right, #829c9c, #a18191);
    opacity: 0.8;
}

.services__item:hover .services__opacity4 {
    background-image: linear-gradient(to top right, #63a9e2, #b3d493);
    opacity: 0.8;
}

.services__item:hover .services__opacity5 {
    background-image: linear-gradient(to top right, #d96793, #d88063);
    opacity: 0.8;
}

.services__item:hover .services__opacity6 {
    background-image: linear-gradient(to top right, #d96793, #d88063);
    opacity: 0.8;
}

.services__item:hover .services__opacity7 {
    background-image: linear-gradient(to top right, #e3b8c1, #7966df);
    opacity: 0.8;
}

.services__item .services__text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services__item .services__text span {
    font-size: 0.75rem;
    color: white;
}

.services__item .services__text p {
    font-size: 1.75rem;
    color: white;
    font-weight: 600;
}

.services__bottom {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    line-height: 40px;
    transition: all 0.5s;
}

.services__bottom i {
    display: inline-block;
}

.services__bottom i:first-of-type {
    opacity: 0;
    visibility: hidden;
    font-size: 2rem;
    transform: translate(-20px, 3px);
    transition: all 0.5s;
}

.services__bottom i:last-of-type {
    font-size: 2rem;
    transform: translate(0, -40px);
}

.services__item:hover .services__bottom {
    background-color: white;
}

.services__item:hover .services__bottom i:first-of-type {
    opacity: 1;
    color: black;
    visibility: visible;
    transform: translate(0, 3px);
}

.services__item:hover .services__bottom i:last-of-type {
    opacity: 0;
    visibility: hidden;
}

/* change slick dots  */
.slick-slide {
    margin-right: 3px;
}

.slick-dots li {
    margin: 0;
}

.slick-dots li button::before {
    font-size: 20px;
}

/* CUSTOMER  */
.customer {
    margin: 40px auto;
}

.customer__container .customer__text h4 {
    margin: 5rem 0 3.5rem;
    font-size: 0.75rem;
    letter-spacing: 1px;
}

.customer__text,
.customer__view {
    width: 50%;
    margin: 0 40px;
}

.customer__container .customer__text p:first-of-type {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.3;
    max-width: 650px;
    margin-bottom: 50px;
}

.customer__container .customer__text span {
    color: orangered;
}

.customer__container .customer__text p:last-of-type {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 35px;
}

.customer__view button {
    background-color: white;
    border: none;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    transition: all 0.5s;
}

.customer__view button:hover {
    color: orangered;
}

/* .customer__view button i{
    transition: all 0.5s;
} */
.customer__view button:hover i {
    width: 30px;
}

.customer__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3px;
    margin: 50px 0;
}

.customer__content .customer__picture1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.customer__picture img {
    display: block;
    width: 100%;
}

/* set MANGNIFIC POPUP   */
.mfp-title {
    opacity: 0;
    visibility: hidden;
    /* visibility: visible; */
}

/* TEAM  */
.team {
    margin: 65px 40px;
}

.team__intro h4 {
    margin: 5rem 0 3.5rem;
    font-size: 0.75rem;
    letter-spacing: 1px;
}

.team__content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.team__item {
    width: 25%;
}

.team__item .team__top img {
    width: 100%;
    transition: all 1s;
}

.team__top .team__text p {
    font-size: 0.875rem;
    color: #343434;
    transform: rotateY(-15deg) skewY(6deg);
    transition: all 1s;
    opacity: 0;
}

.team__top {
    position: relative;
}

.team__top .team__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.6;
}

.team__text .team__contact {
    transition: all 1s;
    opacity: 0;
}

.team__text .team__contact i {
    border-radius: 50%;
    padding: 10px;
    font-size: 11px;
    color: white;
}

.team__text .team__contact a:first-child i {
    background-color: #3c5997;
}

.team__text .team__contact a:nth-child(2) i {
    background-color: #05aced;
}

.team__text .team__contact a:nth-child(3) i {
    background-color: #027bb6;
}

.team__item:hover .team__text .team__contact {
    opacity: 1;
}

.team__item:hover .team__text p {
    opacity: 1;
    transform: rotateY(0deg) skewY(0deg);
}

.team__item:hover .team__top img {
    opacity: 0.2;
}

.team__item .team__name h3 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 30px;
    color: black;
}

.team__item .team__name p {
    font-size: 0.875rem;
    color: #343434;
    opacity: 0.5;
}

.team__view {
    margin-top: 80px;
    text-align: center;
}

.team__view button {
    background-color: white;
    border: none;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    transition: all 0.5s;
}

.team__view button:hover {
    color: orangered;
}

.team__view button i {
    text-align: right;
    /* transition: all 0.5s; */
}

.team__view button:hover i {
    width: 30px;
}

/* CLIENTS */
.clients__container {
    margin: 65px 40px;
}

.clients__text h4 {
    margin: 5rem 0 3.5rem;
    font-size: 0.75rem;
    letter-spacing: 1px;
}

.clients__business {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin: 0 auto;
}

.business__item img {
    width: 100%;
}

/* MEMBERS */
.members {
    background-color: #fdf2ed;
    padding: 75px 0 65px;
}

.members__container {
    text-align: center;
}

.members__container .members__date {
    width: 100px;
    height: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid orangered;
    border-radius: 50%;
}

.members__container .members__date p {
    color: orangered;
    line-height: 3;
    font-size: 0.8rem;
}

.members__container .members__date p:first-child::after {
    content: "";
    width: 70px;
    height: 2px;
    display: block;
    background-color: orangered;
    opacity: 0.2;
    text-align: center;
}

.members__container h2 {
    padding: 70px 0;
    font-size: 2rem;
}

.members__content {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    gap: 40px;
}

.members_item .item__img {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.members_item .item__img img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
    transition: all 0.5s;
}

.members_item i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    color: white;
    transform: translate(-40px, -20px);
    opacity: 0;
}

.members_item .item__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
}

.item__text {
    text-align: left;
}

.item__text a {
    display: block;
    text-decoration: none;
}

.item__text a:first-of-type {
    font-size: 0.625rem;
    color: #343434;
    margin-top: 30px;
}

.item__text a:last-of-type {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 15px 0;
    color: black;
    transition: all 0.5s;
}

.item__text p {
    font-size: 0.625rem;
    color: #343434;
}

.members_item:hover .item__img img {
    transform: scale(110%);
}

.item__text a:last-of-type:hover {
    text-decoration: underline;
    color: orangered;
}

.members_item:hover .item__img i {
    opacity: 1;
    transform: translate(-40px, -20px);
    z-index: 1;
}

.members_item:hover .item__img::before {
    opacity: 1;
    z-index: 2;
}

.members__view {
    margin-top: 80px;
    text-align: center;
}

.members__view button {
    background-color: #fdf2ed;
    border: none;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    transition: all 1s;
}

.members__view button:hover {
    color: orangered;
}

.members__view button i {
    text-align: right;
    /* transition: all 0.5s; */
}

.members__view button:hover i {
    width: 30px;
}

/* SUBSCRIBE */
.subscribe {
    margin: 115px 0 0;
}

.subscribe__container .subscribe__run h2 {
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
}

.subscribe__container .subscribe__run span {
    color: orangered;
}

.subscribe__view {
    margin-bottom: 80px;
    text-align: center;
}

.subscribe__view button {
    background-color: white;
    border: none;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    transition: all 1s;
}

.subscribe__view button:hover {
    color: orangered;
}

.subscribe__view button i {
    text-align: right;
    /* transition: all 0.5s; */
}

.subscribe__view button:hover i {
    width: 30px;
}

.subscribe__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(159, 159, 159, 0.5);
    padding: 0 40px;
}

.subscribe__bottom a {
    text-decoration: none;
    color: black;
    opacity: 0.5;
}

.subscribe__socials {
    border-right: 1px solid rgba(159, 159, 159, 0.5);
}

.subscribe__socials a {
    display: inline-flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 60px;
    width: 70px;
    border-left: 1px solid rgba(159, 159, 159, 0.5);
    transition: all 0.5s;
}

.subscribe__sub a {
    transition: all 0.5s;
}

.subscribe__sub a:hover {
    opacity: 1;
}

.subscribe__socials .icon__facebook:hover {
    color: white;
    background-color: #3c5997;
}

.subscribe__socials .icon__twitter:hover {
    color: white;
    background-color: #05aced;
}

.subscribe__socials .icon__instagram:hover {
    color: white;
    background-color: #3f729a;

}

.subscribe__socials .icon__youtube:hover {
    color: white;
    background-color: #e52d28;
}

/* FOOTER  */
.footer {
    padding: 100px 0 50px;
    background-color: black;
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;
    background-position: 85% 25%;
    background-size: 490px 430px;
    color: white;
}

.footer__container {
    margin: 0 40px;
}

.footer__text {
    border-bottom: 1px solid #535353;
    padding-bottom: 50px;
}

.footer__item p:first-child {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 30px;
    width: 50%;
    /* color: white; */
}

.footer__item p:last-child::before {
    content: "";
    width: 10px;
    height: 1px;
    background-color: white;
    display: inline-block;
    margin-right: 10px;
    transform: translateY(-6px);
}

.footer__item p:last-child {
    font-size: 0.9rem;
    /* color: white; */
}

.footer__item p:last-child span {
    color: #535353;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 80px;
}

.footer__list h3 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer__list p {
    color: #535353;
    font-size: 0.8rem;
    line-height: 1.6;
    max-width: 160px;
    margin-bottom: 0.75rem;
}

.footer__list ul li {
    list-style: none;
    margin-bottom: 0.75rem;
}

.footer__list a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

.footer__list a::after {
    content: "";
    width: 0;
    height: 1px;
    background-color: white;
    display: block;
    transition: all 0.5s;
}

.footer__list a:hover::after {
    width: 100%;
}

.footer__coppy {
    color: #535353;
    font-size: 0.9rem;
}

/* BACK TO TOP  */
.backToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 50px;
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out {
    opacity: 0.5;
}

.backToTop i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #535353;
    color: white;
    font-size: 1rem;
    text-align: center;
    line-height: 50px;
    display: block;
}

.backToTop i:first-of-type {
    opacity: 1;
    visibility: visible;
    position: relative;
    transition: all 0.5s;
}

.backToTop i:last-child {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
}

.backToTop:hover i:first-of-type {
    opacity: 0;
    visibility: hidden;
}

.backToTop:hover i:last-of-type {
    opacity: 1;
    visibility: visible;
    background-color: #ee9982;
}